main 
    article 
        section 
            h2 Опис ERP - системи
    article 
        section 
            h2 Основні функції
    article 
        section 
            h2 Тарифи та підписка
    article 
        section 
            h2 Відгуки