<header>
    <h1>SmartOSBB</h1>
    <nav>
        <ul>
            <a href="#home">Головна</a>
            <a href="#services">Послуги</a>
            <a href="#pricing">Тарифи</a>
            <a href="#contacts">Контакти</a>
            <a href="#cabinet">Кабінет</a>
        </ul>
    </nav>
</header>
